<footer>
  <div class="container">
    <ul>
      <li>
        Ngô Hưng Đông - 14520686 - KHTN2014
      </li>
      <li>
        Trương Vĩnh Phú - 14520686 - KHTN2014
      </li>
    </ul>
  </div>
</footer>
