<table class="table table-striped">
  <thead>
    <td>No</td>
    <td>Rule</td>
    <td>Count</td>
    <td>Frequency</td>
  </thead>
  <tbody>
    <% rules.each.with_index(1) do |rule, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= rule.code %></td>
        <td class = "center"><%= rule.count %></td>
        <td class = "center"><%= rule.freq %></td>
      </tr>
    <% end %>
  </tbody>
</table>
