<table class="table table-bordered table-striped pcky">
<tr>
  <% words.each do |word| %>
    <th> <%= word %> </th>
  <% end %>
</tr>
<% cky.table.each_with_index do |r, index_r| %>
  <tr>
  <% r.each_with_index do |c, index_c| %>
    <% next if index_c == 0 %>
    <td> <%= c.contents.map {|r| "#{r.left}(#{r.freq})"}.join(', ') %></td>
  <% end %>
  <tr>
<% end %>
<table>

<p> CNF result: </p>
<% cky.to_cnf.each_with_index do |cnf, index| %>
  <div class = "bnf-result">
    <p> <%= markdown("`#{index + 1}: #{cnf.first} --> #{cnf.last}`")%> </p>
    <button class="btn btn-info" id="btn-convert" onclick="convert_json_to_tree(<%= cnf.first.convert_to_json %>)">Show tree</button>
  </div>
<% end %>
