/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min.css
 *= require top.scss
 */

.container-fluid {
  .row {
    margin: 40px;
    .form-group {
      input {
        resize: none;
        border-radius: 0;
        margin-bottom: 10px;
      }
    }

    form {
      margin-bottom: 75px;
      input {
        float: right;
      }
    }

    table {
      &.pcky {
        width: -webkit-fill-available;
      }
      thead {
        background-color: #5BC0DE;
        color: white;
      }
    }

    .cky-table {
      padding-top: 30px;
    }
  }

  .center {
    text-align: center;
  }
}
footer {
    background: url(/assets/footer_bg.jpg) no-repeat #010101;
    min-height: 100px;
    position: relative;
    z-index: 1;
    ul {
      color: white;
      margin-bottom: 0;
      padding-top: 25px;
      padding-left: 0px;
      list-style: none;
      letter-spacing: 0.5px;
      li {
        padding-bottom: 5px;
      }
    }
}
